<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:conf/db.properties" ignore-unresolvable="true"/>
    <context:property-placeholder location="classpath*:conf/elasticsearch.properties" ignore-unresolvable="true"/>

    <bean id="dozer" class="org.dozer.spring.DozerBeanMapperFactoryBean">
        <property name="mappingFiles" value="classpath*:dozer/*mappings.xml"/>
    </bean>

    <import resource="classpath*:spring/spring-db-context.xml"/>
    <import resource="classpath*:spring/spring-search-context.xml"/>


</beans>