<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:spring/spring-common-services-context.xml"/>

    <bean id="eventCategoryService" class="com.eventstech.service.impl.EventCategoryServiceImpl">
        <property name="dozer" ref="dozer"/>
        <property name="eventCategoryRepository" ref="eventCategoryRepository"/>
    </bean>

    <bean id="eventCategorySearchService" class="com.eventstech.service.search.impl.EventCategorySearchServiceImpl">
        <property name="dozer" ref="dozer"/>
        <property name="eventCategorySearchRepository" ref="eventCategorySearchRepository"/>
    </bean>

    <bean id="speakerCategorySearchService" class="com.eventstech.service.search.impl.SpeakerCategorySearchServiceImpl">
        <property name="dozer" ref="dozer"/>
        <property name="speakerCategorySearchRepository" ref="speakerCategorySearchRepository"/>
    </bean>

    <bean id="speakerService" class="com.eventstech.service.impl.SpeakerServiceImpl">
        <property name="dozer" ref="dozer"/>
        <property name="speakerRepository" ref="speakerRepository"/>
    </bean>

    <bean id="speakerCategoryService" class="com.eventstech.service.impl.SpeakerCategoryServiceImpl">
        <property name="dozer" ref="dozer"/>
        <property name="speakerCategoryRepository" ref="speakerCategoryRepository"/>
    </bean>

    <bean id="eventService" class="com.eventstech.service.impl.EventServiceImpl">
        <property name="dozer" ref="dozer"/>
        <property name="eventRepository" ref="eventRepository"/>
    </bean>

    <bean id="speakerSearchCategory" class="com.eventstech.service.search.impl.SpeakerSearchServiceImpl">
        <property name="dozer" ref="dozer"/>
        <property name="speakerSearchRepository" ref="speakerSearchRepository"/>
    </bean>

    <bean id="eventSearchService" class="com.eventstech.service.search.impl.EventSearchServiceImpl">
        <property name="dozer" ref="dozer"/>
        <property name="eventSearchRepository" ref="eventSearchRepository"/>
    </bean>
</beans>