<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="elasticSearchNodeBuilder" class="org.elasticsearch.node.NodeBuilder"/>

    <bean id="elasticSearchNode" class="org.elasticsearch.node.Node" factory-bean="elasticSearchNodeBuilder" factory-method="build" destroy-method="stop"/>

    <bean id="elasticsearch" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="elasticSearchNode"/>
        <property name="targetMethod" value="start"/>
    </bean>
</beans>