<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:spring/spring-user-managements-services-context.xml"/>

    <bean id="userAuthenticationProvider" class="com.itut.security.UserAuthenticationProvider">
        <property name="userPrincipalService" ref="userPrincipalService"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
    </bean>

    <bean id="userAuthenticationService" class="com.itut.security.service.UserAuthenticationServiceImpl"/>

    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <constructor-arg value="256"/>
    </bean>
</beans>