<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:spring/spring-user-managements-services-context.xml"/>

    <bean id="userAuthenticationProvider" class="com.itut.security.LoginPasswordAuthenticationProvider">
        <property name="userPrincipalService" ref="userPrincipalService"/>
        <property name="passwordEncoder" ref="passwordEncoder"/>
        <property name="tokenService" ref="tokenService"/>
    </bean>

    <bean id="tokenAuthenticationProvider" class="com.itut.security.PreAuthenticatedTokenAuthenticationProvider">
        <property name="tokenService" ref="tokenService"/>
        <property name="userPrincipalService" ref="userPrincipalService"/>
        <property name="tokenTTL" value="${security.token.ttl}"/>
    </bean>

    <bean id="userAuthenticationService" class="com.itut.security.service.UserAuthenticationServiceImpl"/>

    <bean id="tokenService" class="org.springframework.security.core.token.KeyBasedPersistenceTokenService">
        <property name="secureRandom">
            <bean class="java.security.SecureRandom"/>
        </property>
        <property name="serverInteger" value="${security.server.integer}"/>
        <property name="serverSecret" value="${security.token.server.secret}"/>
        <property name="pseudoRandomNumberBytes" value="${security.token.pseudoRandomNumberBytes}"/>
    </bean>

    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <constructor-arg value="${security.password.encoding.sha.strength}"/>
    </bean>
</beans>