<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <bean id="dozer" class="org.dozer.spring.DozerBeanMapperFactoryBean">
        <property name="mappingFiles" value="classpath*:dozer/*mappings.xml"/>
    </bean>

    <bean id="imageService" class="com.eventstech.service.impl.ImageServiceImpl">
        <property name="imageType2UploadingFolder">
            <map>
                <entry key="EVENT" value="${event.logo.upload.folder}"/>
                <entry key="SPEAKER" value="${speaker.photo.upload.folder}"/>
            </map>
        </property>
        <property name="imageType2Url">
            <map>
                <entry key="EVENT" value="${event.uploading.files.location.host}"/>
                <entry key="SPEAKER" value="${speaker.uploading.files.location.host}"/>
            </map>
        </property>
    </bean>

    <bean id="parameterNameDiscover" class="org.springframework.core.DefaultParameterNameDiscoverer"/>

    <bean id="indexAspect" class="com.eventstech.aspect.IndexAspect">
        <property name="dozer" ref="dozer"/>
        <property name="parameterNameDiscoverer" ref="parameterNameDiscover"/>
    </bean>
</beans>